@model Model.EF.Questions

@{
    ViewBag.Title = "Sửa Bài Học";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Sửa Câu Hỏi</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css">
</head>
<body class="bg-light">
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/jqueryval")

    <div class="d-flex justify-content-center align-items-center mt-5">
        <div class="col-md-8 bg-white p-5 rounded shadow vh-10">
            <h2 class="text-center">Sửa Câu Hỏi</h2>
            @using (Html.BeginForm())
            {
                @Html.AntiForgeryToken()

                <div class="form-horizontal">
                   
                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                    @Html.HiddenFor(model => model.QuestionID)

                    <div class="form-group">
                        @Html.LabelFor(model => model.LessonID, "LessonID", htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="mb-3">
                            @Html.DropDownList("LessonID", null, htmlAttributes: new { @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.LessonID, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.QuestionText, htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="mb-3">
                            @Html.EditorFor(model => model.QuestionText, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.QuestionText, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.QuestionType, htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="mb-3">
                            @Html.EditorFor(model => model.QuestionType, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.QuestionType, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="d-flex justify-content-center w-100">
                        <button type="submit" class="btn btn-primary">Cập nhật</button>
                    </div>
                </div>
            }
</body>
</html>
